.carrucel{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8%;
}
.CarrucelWidth{
    width: 22%;
}
.CarrucelText{
    margin-top: 0%;
    font-size: 3rem;
    width: 34%;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

@media (max-Width: 780px){
    .carrucel{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6%;
    }
    .CarrucelWidth{
        width: 75%;
    }
    .CarrucelText{
        margin-top: 4%;
        font-size: 30px;
        width: 80%;
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
    }
}